<img src="assets/images/téléSport.jpg" />

<div class="titre">
    <h1>Bienvenue sur le Dashboard des Jeux Olympiques !</h1>
</div>


<div class="texte">
    <p>Nous sommes ravis de vous accueillir sur cette plateforme dédiée à l'analyse des performances des nations lors des précédents 
        Jeux Olympiques. Grâce à ce dashboard interactif, vous pouvez explorer les résultats des compétitions passées, découvrir le
        nombre de médailles remportées par chaque pays, comparer les performances et plonger dans les statistiques de ces événements
        emblématiques.
    </p>

</div>


<button (click)="getInformation()">Get information</button>