<img src="assets/images/téléSport.jpg" />

<div class="titre">
    <h1>Welcome to the olympic games dashboard !</h1>
</div>


<div class="texte">
    <p>Welcome you to this platform dedicated to analyzing the performances of nations in past Olympic Games. With this interactive
         dashboard, you can explore the results of previous competitions, discover the number of medals won by each country,
          compare performances, and dive into the statistics of these iconic events.
    </p>

</div>


<button (click)="getInformation()">Show dashboard</button>
<app-footer></app-footer>